RewriteEngine On

# Redirect /jarvai/index to /generate.php and show the new URL in the browser
# RewriteRule ^jarvai/index$ /generate [L]
# RewriteRule ^jarvai/index$ /jarvai/generate.php [L]

# RewriteRule ^jarvai/index$ /jarvai/generate [R=301,L]

# Internal rewrite for non-.php URLs to .php files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]


# RewriteEngine On

# Redirect from .php URLs to non-.php URLs and show non-.php URL in the browser
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^(.+)\.php$ /$1. [R=301,L]

# # Redirect /jarvai/creation.php to /jarvai/creation
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# # RewriteRule ^/creation$ /creation.php [L]
# RewriteRule ^jarvai/creation$ /jarvai/creation.php [L]


# RewriteEngine On

# # Redirect /jarvai/creation.php to /jarvai/creation
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^jarvai/creation$ /jarvai/creation.php [L]

# Redirect creation.php to /creation
# RewriteRule ^jarvai/creation.php$ /jarvai/creation [R=301,L]


# RewriteEngine On

# # Redirect specific .php URLs to non-.php URLs
# RewriteRule ^creation$ /creation [R=301,L]
# RewriteRule ^buypackage$ /buypackage [R=301,L]

# VERY IMPORTANT
# # Redirect /jarvai/index to /generate.php and show the new URL in the browser
# RewriteRule ^jarvai/index$ /generate.php [R=301,L]

# # # Internal rewrite for non-.php URLs to .php files
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}\.php -f
# RewriteRule ^([^/]+)/?$ $1.php [L]

# VERY IMPORTANT

# # Handle direct access to URLs without extensions
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^([^/]+)$ $1.php [L]

# # Handle paths with multiple inner folders
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ $1/$2/$3/$4/$5.php [L]


# Exclude files and folders in the /api/ folder from URL rewriting
# RewriteCond %{REQUEST_URI} !^/api/

# $$$$$$$$$$ IMPORTANT $$$$$$$$$$$$$
# Redirect from .php URLs to non-.php URLs, excluding files in the /api/ folder
# RewriteCond %{REQUEST_URI} !^/api/ [NC]
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/(.+)\.php [NC]
# RewriteRule ^ /%1 [R=301,L]

# $$$$$$$$$$ IMPORTANT $$$$$$$$$$$$$
# Redirect from .php URLs to non-.php URLs, excluding api/creation.php
# RewriteCond %{REQUEST_URI} !^/jarvai/api/creation\.php$
# HERE
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/(.+)\.php [NC]
# RewriteRule ^ /%1 [R=301,L]
# HERE
# $$$$$$$$$$ IMPORTANT $$$$$$$$$$$$$

# # # Redirect from .php URLs to non-.php URLs
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/(.+)\.php [NC]
# RewriteRule ^ /%1 [R=301,L]

# Internal rewrite for non-.php URLs to .php files
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}\.php -f
# RewriteRule ^([^/]+)/?$ $1.php [L]

# # Handle direct access to URLs without extensions
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^([^/]+)$ $1.php [L]

# Handle paths with multiple inner folders
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ $1/$2/$3/$4/$5.php [L]


# RewriteEngine On

# # Exclude files in the /api/ folder from URL rewriting
# RewriteCond %{REQUEST_URI} !^/api/

# # Redirect from .php URLs to non-.php URLs
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/(.+)\.php [NC]
# RewriteRule ^ /%1 [R=301,L]

# # Internal rewrite for non-.php URLs to .php files
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}\.php -f
# RewriteRule ^([^/]+)/?$ $1.php [L]

# # Handle direct access to URLs without extensions
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^([^/]+)$ $1.php [L]

# # Handle paths with multiple inner folders
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ $1/$2/$3/$4/$5.php [L]


# NEW NEW NEW NEW NEW NEW NEW NEW


# # RewriteEngine On

# # # Redirect from .php URLs to non-.php URLs
# # RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/(.+)\.php [NC]
# # RewriteRule ^ /%1 [R=301,L]

# # # Internal rewrite for non-.php URLs to .php files
# # RewriteCond %{REQUEST_FILENAME} !-d
# # RewriteCond %{REQUEST_FILENAME}\.php -f
# # RewriteRule ^([^/]+)/?$ $1.php [L]

# # # Handle direct access to URLs without extensions
# # RewriteCond %{REQUEST_FILENAME} !-d
# # RewriteCond %{REQUEST_FILENAME}.php -f
# # RewriteRule ^([^/]+)$ $1.php [L]

# # # Redirect from .php URLs to non-.php URLs
# # RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/(.+)\.php [NC]
# # RewriteRule ^ /%1 [R=301,L]

# # # Internal rewrite for non-.php URLs to .php files
# # RewriteCond %{REQUEST_FILENAME} !-d
# # RewriteCond %{REQUEST_FILENAME}\.php -f
# # RewriteRule ^([^/]+)/?$ $1.php [L]

# # # Handle direct access to URLs without extensions
# # RewriteCond %{REQUEST_FILENAME} !-d
# # RewriteCond %{REQUEST_FILENAME}.php -f
# # RewriteRule ^([^/]+)$ $1.php [L]

# # # Handle paths with multiple inner folders
# # RewriteCond %{REQUEST_FILENAME} !-d
# # RewriteCond %{REQUEST_FILENAME} !-f
# # RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ $1/$2/$3/$4/$5.php [L]
